<!DOCTYPE html>
<html>
  <head>
    <title><%= lastPrice %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Kweek Pay %></h1>
    <p>Welcome to <%= Kweek Pay%></p>
    <form method="post" action="/wallet">
    <input type="text" name="brainsrc">	
    <input type="submit" name="Go">
    </form>
  </body>
</html>
